{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "indent": [ "error", 4 ],
        "key-spacing": [2, {
            "afterColon": true,
            "align": "value"
        }],
        "comma-dangle": [2, "never"],
        "react/jsx-indent": [ "error", 4 ],
        "no-else-return": [ "off" ]
    }
}